extends ./layout/layout.jade

block stylesheets
    link(
        rel="stylesheet"
        href="/static/#{appName}/css/detail.css"
    )

block content
    div.container-fluid
        div.row-fluid(style='margin-top: 20px;')
            div.page-main.package-details.span9
                div.container-fluid
                    h1
                        a(href='/#{appName}/components') Components
                        i.icon-chevron-right(style='font-size: 72%; color: #999; margin: 0 0.85em;')
                        | #{component.name}
                    p.description #{component.description}
                    h4(style="margin-bottom:10px") 下载最新
                    pre.sh.sh_sourceCode
                        code
                            $ lights install #{component.name}
                    div.downloads 一共下载 #{totaldowns} 次
                    table.table.package-details-table
                        tbody
                            tr
                                th 版本
                                td #{component.version}
                            tr
                                th 发布时间
                                td #{component['updateTime']}
                            if component.homepage
                                tr
                                    th 官方网站
                                    td
                                        a(href='#{component.homepage}') #{component.homepage}
                            if component.keywords
                                tr
                                    th 关键词
                                    td
                                        for keyword in component.keywords
                                            span.emphases.keyword #{keyword},&nbsp;&nbsp;&nbsp;&nbsp;
                            tr.owners
                                th 维护者
                                td.owners(style="padding:0 0 8px 8px;")
                                    for maintainer in maintainers
                                        div.user
                                            img(src='http://www.gravatar.com/avatar/#{maintainer.emailhash}?s=32' style='margin-right: 6px;')
                                            a.emphases.user-link(href='/#{appName}/user_detail?name=#{maintainer.name}') #{maintainer.name}
                            if component.repository && component.repository.url
                                tr
                                    th 代码库
                                    td
                                        a(href='#{component.repository.url}') #{component.repository.url}
                            tr
                                th 下载此版本
                                td
                                    pre.sh.sh_sourceCode
                                        code $ lights install #{component.name}@#{currentVersion}
                            tr
                                th 授权
                                td #{component.license}
                    div#readme
                        h3.filename
                            i.icon-book
                            | README.md
                        div.data!= readmeContent
            div.page-sidebar.span3
                div.container-fluid
                    h4 Versions
                    ul.nav.nav-list
                        for version in versions
                            if version == currentVersion
                                li.active
                                    a(href='/#{appName}/component_detail?name=#{component.name}&version=#{version}') #{version}
                            else
                                li
                                    a(href='/#{appName}/component_detail?name=#{component.name}&version=#{version}') #{version}
