extends ./layout/layout.jade

block stylesheets
   link(
    rel="stylesheet"
    href="/static/#{appName}/css/setting.css"
    )

block content
    .container-fluid
        .row-fluid(style='margin-top: 20px;')
            .tabbable
                .title
                    h1 配置
                ul.nav.nav-tabs
                    each val, index in data.setting
                        if index == 'db'
                            li.active
                                a(href="##{index}" data-toggle="tab") #{val.title}
                        else
                            li
                                a(href="##{index}" data-toggle="tab") #{val.title}
                .tab-content
                    each val, index in data.setting
                        if index == 'db'
                            .tab-pane.active(id="#{index}")
                                each v in val.value
                                    p #{v.title} : #{v.value}
                        else
                            .tab-pane(id="#{index}")
                                each v in val.value
                                    p #{v.title} : #{v.value}
                .field
                    if updateSetting == true
                        button#updateBtn.btn 更新配置
                    button#syncBtn.btn 立即同步数据
            #log-panel.tabbable
                .title
                    h1(style="margin-button:10px;") log
                ul.nav.nav-tabs
                    li.active
                        a(href="#setting-log" data-toggle="tab") 更新配置log
                    li
                        a(href="#sync-log" data-toggle="tab") 同步数据log
                .tab-content
                    .tab-pane.active(id="setting-log")
                        .setting-logfile
                        .setting-logdata
                            p 1
                    .tab-pane(id="sync-log")
                        .sync-logfile
                        .sync-logdata
                            p 2

block scripts
    script(type="text/javascript" src="/static/#{appName}/js/bootstrap.min.js")
    script(type="text/javascript" src="/static/#{appName}/js/a.js")

